<%= form_for @teacher, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :secondname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :secondname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gender, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :class, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :class, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :school, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :school, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                teachers_path, :class => 'btn' %>
  </div>
<% end %>
