<div class="tabbable">
	<hr/>
	<ul class="nav nav-pills">
		<%if user_signed_in?%>	


			<li><%=link_to "Students",students_path%></li>
			<li><%=link_to "Teachers", teachers_path%></li>
			<li><%=link_to "Results", results_path%></li>
			
		<%else%>	
			
			<li class=""><%=link_to "Home", root_path%></li>
			<li><%=link_to "About US", pages_about_path%></li>
			<li><%=link_to "Contact", pages_contact_path%></li>
			<li><%=link_to "Services", pages_service_path%></li>
			<li><%=link_to "Sign in", new_user_session_path%></li>
			<li><%=link_to "Sign Up", new_user_registration_path%></li>
		<% end %>
	</ul>
	<hr/>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
		
		</div>
	
	</div>
</div>
		